<script lang="ts">
import Button from "../components/Button.svelte";
import titleize from "titleize";
import { api, ICollection } from "../lib/api";
import { faArrowRight } from "@fortawesome/free-solid-svg-icons";
import Fa from "svelte-fa";

const getCollections = api.get<{
  collections: ICollection[]
}>("/collections");
</script>

<div>
  <h2 class="mb-2">Collection List</h2>
  {#await getCollections}
    <p>Loading collections...</p>
  {:then collections}
  {#each collections.data.collections as collection}
    <div class="bg-gray-700 px-6 py-2 flex-row flex w-1/3">
      <h3 class="font-semibold text-xl mr-auto mt-4">{titleize(collection.name)}</h3>
      <div class="mt-4">
        <!-- TODO: link to /collections/manage/:id -->
        <Button>
          <Fa icon={faArrowRight}/>
        </Button>
      </div>
    </div>
  {/each}
  {:catch error}
	<p class="text-red-500">{error.message}</p>
  {/await}
</div>