<script lang="ts">
  import Button from "../components/Button.svelte";
  import Input from "../components/Input.svelte";
  import { api, IField } from "../lib/api";
  import { meta } from "tinro";
  import Fa from "svelte-fa";
import { faPlusCircle } from "@fortawesome/free-solid-svg-icons";
  
  let colName: string = "user";
  let fields = [] as {
    id: string;
    value: string;
    type: string;
  }[];

  const onSubmit = async () => {
    await api.post("/collections", {
      collection: {
        name: colName,
        fields: fields
      }
    })
  }

  const addField = () => {
    fields = [...fields, {
      id: "name",
      value: "Name",
      type: "text"
    }]

  }

  console.log(meta().url);
</script>

<form on:submit|preventDefault={onSubmit} class="lg:w-2/6 md:w-1/2 bg-gray-800 bg-opacity-50 rounded-lg p-8 flex flex-col w-full mt-10 md:mt-0">
  <h2 class="text-white text-lg font-medium title-font mb-6">Create a Collection</h2>

  <Input class="mb-4" label="Collection Name" id="name" bind:value={colName} type="text" />

  <div>
    {#each fields as field}
    <div>
      <h4>Field: {field.value}</h4>
      <!-- TODO: generate id with dashes from field name -->
      <Input label="Field Id" bind:value={field.id} id="field-id" />
      <Input label="Field Name" bind:value={field.value} id="field-name" />
      <!-- TODO: SELECT Input -->
      <Input label="Field Type" bind:value={field.type} id="field-type" />
    </div>
    {/each}
    <Button on:click={addField}>
      <Fa icon={faPlusCircle}/>
    </Button>
  </div>

  <Button type="submit">Submit</Button>
</form>