<script lang="ts">
  export let type: "submit" | "button" = "button";
</script>

<button type={type} on:click class="text-white bg-pink-500 border-0 py-2 px-8 focus:outline-none hover:bg-pink-600 rounded text-lg mb-4">
  <slot />
</button>
