<script lang="ts">
import type { ICard } from "../lib/Card";
import Fa from "svelte-fa";

export let card: ICard;
</script>

<div class="p-4 lg:w-1/2 md:w-full">
  <div class="flex border-2 rounded-lg border-gray-800 p-8 sm:flex-row flex-col">
    <div class="w-16 h-16 sm:mr-8 sm:mb-0 mb-4 inline-flex items-center justify-center rounded-full bg-gray-800 text-blue-400 flex-shrink-0">
      {#if card.icon}
        <Fa icon={card.icon}></Fa>
      {/if}
    </div>
    <div class="flex-grow">
      <h2 class="text-white text-lg title-font font-medium mb-3">{card.title}</h2>
      <p class="leading-relaxed text-base">{card.description}</p>
    </div>
  </div>
</div>