<script lang="ts">
  export let label: string;
  export let id: string;
  export let value: string | undefined;
</script>

<div class="relative mb-4">
  <label for={id} class="leading-7 text-sm text-gray-400">{label}</label>
  <input type="text" id={id} name={id} value={value} {...$$restProps} class="w-full bg-gray-600 bg-opacity-20 focus:bg-transparent focus:ring-2 focus:ring-pink-900 rounded border border-gray-600 focus:border-pink-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
</div>