<script lang="ts">
  import titleize from "titleize";
  import { meta } from "tinro";

  export let name = meta().url.substr(meta().url.lastIndexOf("/") + 1);

  $: {
    document.title = `Flowtr CMS | ${titleize(name)}`;
  }
</script>

<div class="min-w-full min-h-full">
  <slot />
</div>