<script lang="ts">
import { Route } from "tinro";
import Button from "./components/Button.svelte";
import Page from "./components/Page.svelte";
import CollectionList from "./pages/CollectionList.svelte";
import CreateCollection from "./pages/CreateCollection.svelte";
</script>

<div class="flex flex-col bg-gray-900 text-white min-h-screen w-full">
  <header class="px-8 py-8 bg-gray-800 flex flex-row justify-start items-center">
    <a class="mr-6" href="/"><h1 class="text-2xl font-bold">Flowtr CMS</h1></a>
    <a class="mr-4" href="/">Home</a>
    <a class="mr-4" href="/collection/list">Collections</a>
  </header>
  <main class="px-8 py-16 flex flex-col justify-center items-start">
    <Route path="/">
      <Page name="Home">
        <p class="mb-8">Welcome to your Flowtr CMS instance.</p>
      </Page>
    </Route>
    <Route path="/collection/create">
      <Page name="Create Collection">
          <CreateCollection />
      </Page>
    </Route>
    <Route path="/collection/list">
      <Page name="List Collections">
        <Button>
          <a class="mb-8" href="/collection/create">Create A Collection</a>
        </Button>
        <CollectionList />
      </Page>
    </Route>
    <Route fallback>
      <Page name="Not Found">
        <h3 class="text-xl font-semibold text-red-500">404 Not Found</h3>
        <p>The page you requested was not found.</p>
      </Page>
    </Route>
  </main>
</div>